.start{
    margin: 460px;
    position: relative;
    font-size: 20px;
background-image: linear-gradient(to right, red,white);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: fade 1s ease-in 1s;
}


@keyframes fade
{
0%{
opacity: 0;

}

100%
{
opacity: 1;
}


}

body{
background-color: black;
}
.btn{
    position: relative;
    bottom: 350px;
    left: 800px;
    width: 130px;
    height: 80px;
font-size: 2rem;
font-weight: 700;
padding: 0.5em 1em;
color: white;
background-color: rgba(255, 0, 0, 0.267);
border: 4px solid rgba(255, 255, 255, 0.705);
border-radius: 5px;
box-shadow:;
transition: transform 0.3s, background-color 0.3s, color 0.3s;

}
.btn:hover {

transform: translateY(-10px);
background-color: red;
color: white;

}





